body {
    background-color: grey;
}

div.pos{
      	position:relative;
      	top:100px;
      	}
      	.button{
      	    background-color: lightblue;
      	    color:black;
      	    }
     div.gog{
    position:relative;
    top:150px;
    left:20px;
    }
   div.fac{
    position:relative;
    top:150px;
    left:250px;
    }
    
    .outset {border-style: outset;}
    
    		div.con{
      	position:relative;
      	top:70px;
      	}
     div.st{
     position:relative;
    top:100px;
    left:100px;
    }
      	